<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapcsolatfelvétel</title>
    <div class="user_type">
        <p sec:authorize="isAnonymous()">Látogató</p>
        <p sec:authorize="isAuthenticated()" sec:authentication="name"></p>
    </div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}">
    <div class="logo">
        <h1>Kapcsolatfelvételi Űrlap</h1>
    </div>
    <div id="notification" class="notification hidden">
        <span id="notification-message"></span>
        <button id="notification-close-btn"> X</button>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/meccsek}">Meccsek</a></li>
            <li><a th:href="@{/nezok}">Nézők</a></li>
            <li><a th:href="@{/belepes}" sec:authorize="hasRole('ADMIN')">Belépések</a></li>
            <li><a th:href="@{/contact}">Kapcsolat</a></li>
            <li><a th:href="@{/uzenetek}" sec:authorize="hasRole('ADMIN')">Üzenetek</a></li>
            <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Bejelentkezés</a></li>
            <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()">Regisztráció</a></li>
            <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Kijelentkezés</a></li>
        </ul>
    </nav>
</header>
<body>
<h2>Kapcsolati űrlap</h2>
<div class="container mb-3">
    <form id="contactForm">
        <div class="form-group">
            <label for="sender">Név:</label>
            <input type="text" id="sender" name="sender" placeholder="Írja be a nevét" th:value="${message.sender}" readonly required>
        </div>
        <div class="form-group">
            <label for="content">Üzenet:</label>
            <textarea id="content" name="content" placeholder="Írja be üzenetét" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Üzenet küldése</button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/js/main.ja}"></script>
</body>
</html>